<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Imagenes </title>
    </head>
    <body>
        <form action="/agregar/imagen" method="POST" enctype="multipart/form-data">
            <label for="imagen">
                Proporciona tu imagen:
            </label>
            <input type="file" id="imagen" name="imagen">
            <button type="submit">
                Agregar
            </button>
        </form>
    </body>
</html>